<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softmeth.pizzeria">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pizzeria"
        tools:targetApi="31">
        <activity
            android:name=".MainController"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pizzeria.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChicagoPizzaController"
            android:parentActivityName=".MainController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NYPizzaController"
            android:parentActivityName=".MainController" />
        <activity
            android:name=".CurrentOrderController"
            android:parentActivityName=".MainController" />
        <activity
            android:name=".StoreOrderController"
            android:parentActivityName=".MainController" />
    </application>

</manifest>